In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import missingno as msno
import seaborn as sns

In [2]:
# Define the relative file paths

data_path = '/Users/Ilya/github/team3_rev1/data/raw/final_merged_data.csv'
df = pd.read_csv(data_path)

/Users/Ilya/busi732/lib/python3.11/site-packages/IPython/core/interactiveshell.py:3577: DtypeWarning: Columns (66) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df

,DateTime_x,Time,Error,WEC: ava. windspeed,WEC: max. windspeed,WEC: min. windspeed,WEC: ava. Rotation,WEC: max. Rotation,WEC: min. Rotation,WEC: ava. Power,...,Fan inverter cabinet temp.,Ambient temp.,Tower temp.,Control cabinet temp.,Transformer temp.,RTU: ava. Setpoint 1,Inverter averages,Inverter std dev,DateTime_y,Fault
0,2014-05-01 00:00:00,1398920448,0,6.9,9.4,2.9,0.00,0.02,0.00,0,...,25,12,14,24,34,2501,25.272728,1.103713,NaN,NF
1,2014-05-01 00:09:00,1398920960,0,5.3,8.9,1.6,0.00,0.01,0.00,0,...,25,12,14,24,34,2501,25.272728,1.103713,NaN,NF
2,2014-05-01 00:20:00,1398921600,0,5.0,9.5,1.4,0.00,0.04,0.00,0,...,25,12,14,24,34,2501,25.272728,1.103713,NaN,NF
3,2014-05-01 00:30:00,1398922240,0,4.4,8.3,1.3,0.00,0.08,0.00,0,...,25,12,14,24,34,2501,25.272728,1.103713,NaN,NF
4,2014-05-01 00:39:00,1398922752,0,5.7,9.7,1.2,0.00,0.05,0.00,0,...,25,12,14,23,34,2501,25.272728,1.103713,NaN,NF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49129,2015-04-08 23:20:00,1428553216,0,3.9,5.5,2.2,6.75,7.40,6.01,147,...,28,9,17,27,35,3050,24.454546,3.474583,NaN,NF
49130,2015-04-08 23:30:00,1428553856,0,3.9,5.6,2.9,6.64,7.06,6.33,128,...,28,9,17,27,35,3050,24.454546,3.445683,NaN,NF
49131,2015-04-08 23:39:00,1428554368,0,4.2,6.7,2.6,7.18,8.83,6.22,163,...,28,9,18,27,34,3050,24.363636,3.413876,NaN,NF
49132,2015-04-08 23:50:00,1428555008,0,4.1,6.6,2.7,7.02,7.94,6.20,160,...,28,9,17,27,34,3050,24.000000,3.376389,NaN,NF
49133,2015-04-09 00:00:00,1428555648,0,4.8,6.0,3.3,8.39,9.48,7.14,284,...,28,9,17,27,34,3050,23.818182,3.250175,NaN,NF

In [4]:
# Convert DateTime_x column format
df['DateTime_x'] = pd.to_datetime(df['DateTime_x'])
df['DateTime_x']

0       2014-05-01 00:00:00
1       2014-05-01 00:09:00
2       2014-05-01 00:20:00
3       2014-05-01 00:30:00
4       2014-05-01 00:39:00
                ...
49129   2015-04-08 23:20:00
49130   2015-04-08 23:30:00
49131   2015-04-08 23:39:00
49132   2015-04-08 23:50:00
49133   2015-04-09 00:00:00
Name: DateTime_x, Length: 49134, dtype: datetime64[ns]

In [5]:
#keep only 2014
df = df[df['DateTime_x'].dt.year == 2014]
df

,DateTime_x,Time,Error,WEC: ava. windspeed,WEC: max. windspeed,WEC: min. windspeed,WEC: ava. Rotation,WEC: max. Rotation,WEC: min. Rotation,WEC: ava. Power,...,Fan inverter cabinet temp.,Ambient temp.,Tower temp.,Control cabinet temp.,Transformer temp.,RTU: ava. Setpoint 1,Inverter averages,Inverter std dev,DateTime_y,Fault
0,2014-05-01 00:00:00,1398920448,0,6.9,9.4,2.9,0.00,0.02,0.00,0,...,25,12,14,24,34,2501,25.272728,1.103713,NaN,NF
1,2014-05-01 00:09:00,1398920960,0,5.3,8.9,1.6,0.00,0.01,0.00,0,...,25,12,14,24,34,2501,25.272728,1.103713,NaN,NF
2,2014-05-01 00:20:00,1398921600,0,5.0,9.5,1.4,0.00,0.04,0.00,0,...,25,12,14,24,34,2501,25.272728,1.103713,NaN,NF
3,2014-05-01 00:30:00,1398922240,0,4.4,8.3,1.3,0.00,0.08,0.00,0,...,25,12,14,24,34,2501,25.272728,1.103713,NaN,NF
4,2014-05-01 00:39:00,1398922752,0,5.7,9.7,1.2,0.00,0.05,0.00,0,...,25,12,14,23,34,2501,25.272728,1.103713,NaN,NF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,2014-12-31 23:09:00,1420088960,0,9.0,11.9,6.1,12.17,13.86,9.70,1769,...,28,13,27,34,44,3050,27.272728,1.489356,NaN,NF
35060,2014-12-31 23:20:00,1420089600,0,8.6,11.9,6.3,11.95,13.72,10.17,1661,...,28,13,27,34,45,3050,27.272728,1.489356,NaN,NF
35061,2014-12-31 23:30:00,1420090240,0,8.5,12.2,5.5,11.98,14.67,10.42,1696,...,27,13,27,34,45,3050,27.272728,1.489356,NaN,NF
35062,2014-12-31 23:39:00,1420090752,0,9.4,11.6,6.8,12.94,14.64,11.50,2181,...,27,13,27,34,45,3050,27.272728,1.618080,NaN,NF
35063,2014-12-31 23:49:00,1420091392,0,10.6,13.2,7.1,13.58,14.74,11.68,2626,...,27,13,27,34,46,3050,27.363636,1.689540,NaN,NF

In [6]:
# Set 'DateTime' as the index if it isn't already
df.set_index('DateTime_x', inplace=True)

# Resample the data weekly and calculate the mean of 'WEC: max. Power'
weekly_max_power = df['WEC: max. Power'].resample('W').mean()

# Forward-fill the resampled values to match the original DataFrame's index
df['Weekly Max Power'] = weekly_max_power.reindex(df.index, method='ffill')

# Reset the index if you want to keep 'DateTime' as a column
df.reset_index(inplace=True)

# Display the updated DataFrame
df

/var/folders/xz/_vtyxvzs20xcrqqm8526shgc0000gn/T/ipykernel_19080/2247907371.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Weekly Max Power'] = weekly_max_power.reindex(df.index, method='ffill')

,DateTime_x,Time,Error,WEC: ava. windspeed,WEC: max. windspeed,WEC: min. windspeed,WEC: ava. Rotation,WEC: max. Rotation,WEC: min. Rotation,WEC: ava. Power,...,Ambient temp.,Tower temp.,Control cabinet temp.,Transformer temp.,RTU: ava. Setpoint 1,Inverter averages,Inverter std dev,DateTime_y,Fault,Weekly Max Power
0,2014-05-01 00:00:00,1398920448,0,6.9,9.4,2.9,0.00,0.02,0.00,0,...,12,14,24,34,2501,25.272728,1.103713,NaN,NF,NaN
1,2014-05-01 00:09:00,1398920960,0,5.3,8.9,1.6,0.00,0.01,0.00,0,...,12,14,24,34,2501,25.272728,1.103713,NaN,NF,NaN
2,2014-05-01 00:20:00,1398921600,0,5.0,9.5,1.4,0.00,0.04,0.00,0,...,12,14,24,34,2501,25.272728,1.103713,NaN,NF,NaN
3,2014-05-01 00:30:00,1398922240,0,4.4,8.3,1.3,0.00,0.08,0.00,0,...,12,14,24,34,2501,25.272728,1.103713,NaN,NF,NaN
4,2014-05-01 00:39:00,1398922752,0,5.7,9.7,1.2,0.00,0.05,0.00,0,...,12,14,23,34,2501,25.272728,1.103713,NaN,NF,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,2014-12-31 23:09:00,1420088960,0,9.0,11.9,6.1,12.17,13.86,9.70,1769,...,13,27,34,44,3050,27.272728,1.489356,NaN,NF,1785.723214
35060,2014-12-31 23:20:00,1420089600,0,8.6,11.9,6.3,11.95,13.72,10.17,1661,...,13,27,34,45,3050,27.272728,1.489356,NaN,NF,1785.723214
35061,2014-12-31 23:30:00,1420090240,0,8.5,12.2,5.5,11.98,14.67,10.42,1696,...,13,27,34,45,3050,27.272728,1.489356,NaN,NF,1785.723214
35062,2014-12-31 23:39:00,1420090752,0,9.4,11.6,6.8,12.94,14.64,11.50,2181,...,13,27,34,45,3050,27.272728,1.618080,NaN,NF,1785.723214
35063,2014-12-31 23:49:00,1420091392,0,10.6,13.2,7.1,13.58,14.74,11.68,2626,...,13,27,34,46,3050,27.363636,1.689540,NaN,NF,1785.723214